# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.8

    working_directory: /go/src/github.com/deeprefactoring/deeprefactoring-bot
    steps:
      - checkout

      - run:
          name: Install glide
          environment:
            GLIDE_VERSION: v0.12.3
          command: |
            cd /tmp
            wget https://github.com/Masterminds/glide/releases/download/${GLIDE_VERSION}/glide-${GLIDE_VERSION}-linux-amd64.tar.gz
            tar xzf glide-${GLIDE_VERSION}-linux-amd64.tar.gz
            sudo -u root mv linux-amd64/glide /usr/bin/
            rm -rf /tmp/*

      - run: make package

      - store_artifacts:
          path: deeprefactoring-bot

      - store_artifacts:
          path: coverage.html

      - persist_to_workspace:
          root: .
          paths:
            - deeprefactoring-bot

  deploy:
    docker:
      - image: ansible/ansible:ubuntu1604

    environment:
      ANSIBLE_HOST_KEY_CHECKING: False

    steps:
      - checkout
      - run: pip install ansible==2.3.1.0
      - attach_workspace:
          at: .
      - run: echo ${VAULT_PASSWORD} > .circleci/password
      - deploy:
          command: |
            cd .circleci
            ansible-playbook site.yml -i production  --vault-password-file password

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              # TODO: change to master
              only: deploy



