# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.8

    working_directory: /go/src/github.com/deeprefactoring/deeprefactoring-bot
    steps:
      - checkout

      - run:
          name: Install glide
          environment:
            GLIDE_VERSION: v0.12.3
          command: |
            cd /tmp
            wget https://github.com/Masterminds/glide/releases/download/${GLIDE_VERSION}/glide-${GLIDE_VERSION}-linux-amd64.tar.gz
            tar xzf glide-${GLIDE_VERSION}-linux-amd64.tar.gz
            sudo -u root mv linux-amd64/glide /usr/bin/
            rm -rf /tmp/*

      - run: make package

      - store_artifacts:
          path: deeprefactoring-bot
          destination: .


      - store_artifacts:
          path: coverage.html
          destination: .
